<!DOCTYPE html>
<html>
<head>
    <title>Booking ticket</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/bookingticket1.css"/>
</head>
<body>    
    <h2>BUS BOOKING TICKET</h2>
    <hr/>

    <table border="1">
    <CAPTION>THÔNG TIN VÉ ĐÃ ĐẶT</CAPTION>
    <TR><TH>Nhà xe</TH><TH>Tuyến đường</TH><TH>Giờ xuất bến</TH><TH>Số lượng vé</TH><TH>Tổng tiền</TH></TR>
    <TR><TD>Phương Trang</TD><TD>Đà Nẵng - Hà Nội</TD><TD>14:00 31/01/2017</TD><TD>2</TD><TD>710.000 VND</TD></TR>
    </table>

    <form name="form3" action="" method="post" class="form3">
            <label>Xin chọn hình thức thanh toán</label>
            <br/>
            <input type="radio" name="group1" value="taiquay"/>Thanh toán tại quầy (1 ngày trước khi khởi hành)
            <br/>
            <input type="radio" name="group1" value="nganhang"/>Thanh toán qua tài khoản ngân hàng
    </form>

    <div class="form_button3">
        <input type="button" value="Huỷ" class="submit"/>
        <input type="submit" value="Đặt vé" class="submit"/> 
    </div>
</body>
</html>    