<!DOCTYPE html>
<html>
<head>
    <title>Booking ticket</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/bookingticket1.css"/>
</head>
<body>    
    <h2>BUS BOOKING TICKET</h2>
    <hr/>  
    <form name = "form2" action="" method = "post" class="form">    
        <div class = "container">    
            <div class = "form_group">    
                <label>Họ và tên: </label>    
                <input type="text" name="hoten" value= "" required/>    
            </div>    
            <div class = "form_group">    
                <label>Ngày sinh:</label>    
                <input type="text" name ="ngaysinh" value = "" required />    
            </div>    
            <div class = "form_group">    
                <label>Số CMND:</label>    
                <input type = "text" name = "cmnd" value = "" required/>    
            </div>    
            <div class = "form_group">    
                <label>Địa chỉ:</label>    
                <input type = "text" name = "diachi" value = "" required/>    
            </div>
            <div class = "form_group">    
                <label>Email:</label>    
                <input type = "text" name = "email" value = "" required/>    
            </div>  
            <div class = "form_group">    
                <label>Điện thoại:</label>    
                <input type = "text" name = "dienthoai" value = "" required/>    
            </div>
            <div class="form_button">
                <input type="button" value="Huỷ" class="submit"/>
                <input type="submit" value="Xác nhận" class="submit"/>   
            </div>     
        </div>    
    </form>    
</body>
</html>    