<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="master::head"></th:block>
<title>Homepage</title>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>

<body id="bootstrap-overrides">

	<main>
	<nav th:replace="master::header"></nav>
	<input type="text" id="message" style="display: none" th:value="${message}"/>
	<div class="body">
		<div class="container">
			<CENTER>
				<h2>TUYẾN XE TRONG NGÀY</h2>
			</CENTER>

			<form class="navbar-form" id="home-search-form" role="form"
				th:action="@{/search}">
				<div class="input-group add-on">
					<div class="form-group">
						<th:block th:if="${param.busService == null}">
							<input id="searchBusService" class="form-control" type="text"
								placeholder="Nhà xe" />
						</th:block>
						<th:block th:if="${param.busService!=null}">
							<input id="searchBusService" class="form-control" type="text"
								placeholder="Nhà xe" th:value="${param.busService[0]}" />
						</th:block>
					</div>
					<div class="form-group">
						<th:block th:if="${param.source ==  null}">
							<input id="searchSource" class="form-control" type="text"
								placeholder="Nơi đi" />
						</th:block>
						<th:block th:if="${param.source != null}">
							<input id="searchSource" class="form-control" type="text"
								placeholder="Nơi đi" th:value="${param.source[0]}" />
						</th:block>
					</div>
					<div class="form-group">
						<th:block th:if="${param.destination == null}">
							<input id="searchDestination" class="form-control" type="text"
								placeholder="Nơi đến" />
						</th:block>
						<th:block th:if="${param.destination != null}">
							<input id="searchDestination" class="form-control" type="text"
								placeholder="Nơi đến" th:value="${param.destination[0]}" />
						</th:block>
					</div>
					<div class="input-group-btn">
						<button type="submit" id="search-button" class="btn btn-defaut">
							<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</form>


			<div style="padding-top: 15px; padding-bottom: 15px">
				<th:block sec:authorize="isAuthenticated()">
					<div class="home-container-button home-left">
						<button type="button" id="home-add-bus-route-btn" class="button">Thêm</button>
						<button type="button" id="home-edit-bus-route-btn" class="button">Sửa</button>
						<button id="home-delete-bus-route-btn" type="button"
							class="button">Xóa</button>
					</div>
				</th:block>
				<div class="home-container-button home-right">
					<button type="button" id="home-cancel-booking-btn" class="button">Hủy
						vé</button>
					<th:block sec:authorize="isAuthenticated()">
						<div class="checkbox-inline">
							<label><input type="checkbox" value="" />Chọn tất cả</label>
						</div>
					</th:block>
				</div>
			</div>

			<div class="table-header">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="display: none"></th>
							<th>STT</th>
							<th>Nhà xe</th>
							<th>Nơi đi</th>
							<th>Nơi đến</th>
							<th>Giá tiền</th>
							<th>Liên hệ</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table-content">
				<table class="table table-hover" id="table-busroute-today">
					<tbody>
						<th:block th:each="busRoute , inerStats : ${busRoutes}">
							<tr>
								<td style="display: none" th:text="${busRoute.id}"></td>
								<td th:text="${inerStats.index} + 1"></td>
								<td th:text="${busRoute.busService.name}"><br /></td>
								<td><span th:text="${busRoute.source}"></span><br />Giờ
									đi: <span th:text="${busRoute.departureTime}"></span><br /></td>
								<td><span th:text="${busRoute.destination}"></span><br />Giờ
									đến: <span th:text="${busRoute.arrivalTime}"></span> <br /></td>
								<td><span th:text="${busRoute.ticketPrice}"></span>đ<br />Còn
									<span th:text="${busRoute.remainingTickets}"></span> vé<br />
									<a th:href="@{/book/} + ${busRoute.id}"><button type="button" class="btn">Đặt vé</button></a></td>
								<td><span th:text="${busRoute.busService.phoneNumber}"></span></td>
								<td>
									<div class="checkbox">
										<label><input type="checkbox" value="" /></label>
									</div>F
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="home-dialog" class="dialog">
		<div class="dialog-overlay"></div>
		<div class="dialog-content">
			<div id="delete-bus-route">
				<h4></h4>
			</div>

			<div id="add-bus-route">
				<h3>TUYẾN XE</h3>
				<form class="navbar-form" id="dialog-form">
				<fieldset>
					<!-- <span class="form-field-name">TUYẾN XE</span> -->
					<!-- <br/> -->
					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="ĐÀ NẴNG"
								disabled="true"/>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Nơi đến"
								id="home-dialog-destination" name="name_home_dialog_destination" />
						</div>
					</div>
					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Ngày đi"
								id="home-dialog-departure-day" name="name_home_dialog_departure_day"/>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Giờ đi"
								id="home-dialog-departure-time" name="name_home_dialog_departure_time"/>
						</div>
					</div>
					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Ngày đến"
								id="home-dialog-arrival-day" name="name_home_dialog_arrival_day" />
						</div>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Giờ đến"
								id="home-dialog-arrival-time" name="name_home_dialog_arrival_time"/>
						</div>
					</div>
					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control1" type="text" placeholder="Nhà xe"
								id="home-dialog-bus-service" name="name_home_dialog_bus_service"/>
						</div>
					</div>
					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control1" type="text" placeholder="Bến xe"
								id="home-dialog-bus-service-destination" name="name_home_dialog_bus_service_destination" />
						</div>
					</div>

					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control1" type="text" placeholder="Giá tiền"
								id="home-dialog-ticket-price" name="name_home_dialog_ticket_price"/>
						</div>
					</div>

					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control1" type="text" placeholder="Tổng số vé"
								id="home-dialog-total-ticket" name="name_home_dialog_total_ticket"/>
						</div>
					</div>

					<br />

					<div class="input-group add-on">
						<div class="form-group">
							<input class="form-control1" type="text"
								placeholder="Số điện thoại" id="home-dialog-contact" name="name_home_dialog_contact" />
						</div>
					</div>
					<div>
						<input class="btn" id="home-dialog-add-btn" type="submit" value="Thêm"/>
						<a href="#" class="btn home-dialog-close" id="home-dialog-cancel-btn">Huỷ</a>
						<input class="btn" id="home-dialog-edit-btn" type="submit" value="Sửa"/> 
					</div>
					</fieldset>
				</form>
			</div>

			<div>
				<a href="#" class="btn" id="home-dialog-delete-btn">Xóa</a> 
				<a href="#" class="btn home-dialog-close" id="home-dialog-ok-btn">OK</a>
			</div>
			
		</div>
	</div>

	<div id="home-dialog-cancel-booking" class="dialog">
		<div class="dialog-overlay"></div>
		<div class="dialog-content">
			<h3>HỦY VÉ</h3>
			<form class="navbar-form">
				<!-- <span class="form-field-name">Mã vé</span> -->
				<div class="input-group add-on">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Mã vé" />
					</div>
				</div>
			</form>

			<div>
				<a href="#" class="btn home-dialog-close"
					id="home-dialog-cancel-btn">Huỷ</a> <a href="#"
					class="btn home-dialog-close" id="home-dialog-ok-btn">Xác nhận</a>
			</div>
		</div>
	</div>

	</main>
	<footer th:replace="master::footer"></footer>
</body>
</html>