<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css"/>
</head>
<body>
<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Benxe<span>DANANG</span></div>
</div>
<br/>
<div class="login">
    <form role="form" method="POST" th:action="@{/login}">
        <input type="email" placeholder="email" name="email" autocomplete="off"/><br/>
        <input type="password" placeholder="password" name="password" autocomplete="off"/><br/>
        <input class="login-button" type="submit" value="Đăng nhập"/>
    </form>
</div>
</body>
</html>